<h1 id="message_name">
    <span class="nc_component">
        {{message_name}}    
    </span>
</h1> 

<div id="message">
    <div class="nc_component">
        <div ng-bind-html="message" converted_image_container></div>
    </div>
</div>

<div id="page_navigation">
    <div class="nc_component">      
        <span  id="prev_page" class="click_control" ng-click="showPrevPage()">
            <<
        </span>
        
        <span id="page_number">
            <span class="nc_component">
                <span id="current_page_number">
                    {{current_page_number}}
                </span>
                
                <span id="page_number_seperator">
                    of
                </span>
                
                <span id="total_pages">
                    {{total_pages}} 
                </span>             
            </span>
       </span>          
        
        <span id="next_page" class="click_control" ng-click="showNextPage()">
            >>
        </span>
    </div>
</div>

<div id="duration" class="nc_component">
    <span class="component_label pre">next message in</span>
    <span class="nc_component">{{duration}}</span>
</div>

<div id="timer_controls">
    <div class="nc_component">
        <span id="stop_message_timer" class="click_control" ng-click="stopMessageTimer()">
            <span class="component_label">stop</span>
        </span>
       
        <span id="start_message_timer" class="click_control" ng-click="startMessageTimer()">
            <span class="control_text">start</span>
        </span>
    </div>
</div>
    
<div id="message_select">
    <div class="nc_component">
        <span class="click_control" ng-repeat="message in messages" ng-click="setMessage($index)">
            <span class="message_name">
                {{message.name}}
            </span>
        </span>
    </div>
</div>

<div id="message_navigation">
    <div class="nc_component">
        <span id="prev_message" class="click_control" ng-click="setPrevMessage()">
            <span class="control_text">prev</span>
        </span>
        <span id="next_message" class="click_control" ng-click="setNextMessage()">
            <span class="control_text">next</span>
        </span>    
    </div>
</div>