<div class="ticker_inner">
    <!-- a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string a long string  -->
   <span class="ticker_item" ng-repeat="item in data">
       {{item}}
   </span>
</div>

