<div id="weather_local">
    <div class="nc_component">
        {{weather.observation_location.city}}    
    </div>
</div>

<div id="weather_image">
    <div class="nc_component">
        <img ng-src="{{weather.icon_url}}"></img>
    </div>
</div>

<div id="weather_conditions">
    <div class="nc_component">
        {{weather.weather}} 
    </div>
</div>

<div id="current_temperature">
    <div class="metric nc_component">
        {{weather.temp_c}} &#8451
        <div class="feels_like">
            <span class="nc_label pre">feels like</span> {{weather.feelslike_c}} &#8451
        </div>
    </div>
    
    <div class="imperial nc_component">
        {{weather.temp_f}} &#8457
        <div class="feels_like">
            <span class="nc_label pre">feels like</span> {{weather.feelslike_f}} &#8457
        </div>
    </div>
</div>


<div id="weather_detail_components" class="nc_component_group">
    <div id="relative_humidity">
        <span class="nc_label pre">relative humidity</span>
        <span class="nc_component">
            {{weather.relative_humidity}}
        </span>
    </div>
    
    <div id="wind">
       <span class="nc_label pre">wind</span>
       <span class="metric">
           <span class="nc_component">{{weather.wind_kph}}</span>
           <span class="nc_label post">kph</span>                  
       </span>
       <span class="imperial">
            <span class="nc_component">{{weather.wind_mph}}</span>
            <span class="nc_label post">mph</span>       
       </span>
       
       <span class="wind_direction">
            <span class="nc_label pre">out of</span>
            <span class="nc_component">{{weather.wind_dir}}</span>
       </span>         
    </div>
    
    <div id="uv">          
       <span class="nc_label pre">uv index</span>
       <span class="nc_component">{{weather.UV}}</span>
    </div>
    
    <div id="precip" class="nc_component_group">        
        <div id="precip_hour">
            <span class="nc_label pre">
                precipitation this hour
            </span>
            
            <span class="metric">
                <span class="nc_component">{{weather.precip_1hr_metric}}</span>
                <span class="compoent_label post">mm</span>
            </span>        
            
            <span class="imperial">
                <span class="nc_component">{{weather.precip_1hr_in}}</span>
                <span class="compoent_label post">inches</span>                
            </span>
        </div>
        
        <div id="precip_today">
            <span class="nc_label pre">
                precipitation today 
            </span> 
            
            <span class="metric">
                <span class="nc_component">{{weather.precip_today_metric}}</span>
                <span class="nc_label post">mm</span>            
            </span>
            
            <span class="imperial">
                <span class="nc_component">{{weather.precip_today_in}}</span>
                <span class="nc_label post">inches</span>            
            </span>
        </div>
    </div>  
</div>

