<div class="weather_local">
    {{weather.observation_location.full}}
</div>

<div class="weather_image nc_component">
    <img ng-src="{{weather.icon_url}}"></img>
</div>

<div class="weather_condition nc_component">
    {{weather.weather}} 
</div>

<div class="metric nc_component">
    {{weather.temp_c}} &#8451
    <div class="feels_like">
        <span class="component_label pre">feels like</span> {{weather.feelslike_c}} &#8451
    </div>
</div>

<div class="imperial nc_component">
    {{weather.temp_f}} &#8457
    <div class="feels_like">
        <span class="component_label pre">feels like</span> {{weather.feelslike_f}} &#8457
    </div>
</div>

<div class="weather_detail_components">
    <div class="relative_humidity nc_component">
        <span class="component_label pre">relative humidity</span> {{weather.relative_humidity}}
    </div>
    
    <div class="wind wind_speed metric nc_component">
        <span class="component_label pre">wind</span>
        {{weather.wind_kph}} 
        <span class="component_label post">kph</span>

        <span class="wind wind_direction nc_component">
            <span class="component_label pre">out of</span>
            {{weather.wind_dir}}
        </span>
    </div>
    
    <div class="wind wind_speed imperial nc_component">
        <span class="component_label pre">wind</span> 
            {{weather.wind_mph}}
        <span class="component_label post">mph</span>
        <span class="wind wind_direction nc_component">
            <span class="component_label pre">out of</span>
            {{weather.wind_dir}}
        </span>
    </div>
    
    <div class="uv nc_component">
        <span class="component_label pre">
            uv index
        </span>
        {{weather.UV}}
    </div>
    
    <div class="precip metric nc_component">        
        <div class="precip_hour">
            <span class="component_label pre">
                precipitation this hour
            </span>
            {{weather.precip_1hr_metric}}
            <span class="compoent_label post">
                mm
            </span>
        </div>
        
        <div class="precip_today">
            <span class="component_label pre">
                precipitation today 
            </span> 
            {{weather.precip_today_metric}}
            <span class="component_label post">
                mm
            </span>
        </div>
    </div>  
    
    <div class="precip imperial nc_component">        
        <div class="precip_hour">
            <span class="component_label pre">
                precipitation this hour
            </span>
            {{weather.precip_1hr_in}}
            <span class="compoent_label post">
                inches
            </span>
        </div>
        
        <div class="precip_today">
            <span class="component_label pre">
                precipitation today 
            </span> 
            {{weather.precip_today_in}}
            <span class="component_label post">
                inches
            </span>
        </div>
    </div>  
</div>

