body {
  background-color: black; }

/*--- Player ---*/
#new_city_player {
  background-color: white; }

/*--- Message ---*/
#message_name {
  position: absolute;
  top: -40px;
  padding-top: 40px;
  font-weight: 800;
  text-align: center;
  width: 75%;
  left: 25%; }
  #message_name .nc_component {
    font-size: 70pt; }

#message {
  height: 780px;
  background-color: lightgrey;
  position: absolute;
  top: 145px;
  width: 75%;
  left: 25%; }
  #message .ppt_image {
    height: 100%; }
  #message .converted_page {
    text-align: center;
    height: 800px; }
  #message video {
    width: 100%;
    height: 100%;
    margin-top: 90px; }

#page_navigation {
  position: absolute;
  width: 75%;
  left: 25%;
  text-align: center;
  top: 860px; }

#message_controls #duration {
  padding-left: 30px; }
  #message_controls #duration .component_label.pre {
    display: none; }
#message_controls #timer_controls {
  position: absolute;
  top: 40px;
  left: 100px; }
#message_controls #message_select {
  position: absolute;
  top: 50px;
  left: 170px; }
  #message_controls #message_select .message_name {
    display: block;
    font-size: 18pt; }
  #message_controls #message_select .message_name.active {
    color: lightgrey; }
#message_controls #message_navigation {
  padding-left: 30px; }
  #message_controls #message_navigation #next_message .control_icon {
    padding-left: 20px; }

#auto_update_timer, #update_time {
  display: none; }

#current_time {
  color: grey;
  position: relative;
  top: 1040px;
  left: 1580px; }
  #current_time .nc_component {
    font-size: 20pt; }

#page_number_seperator, #total_pages, #page_number {
  display: none; }

.metric {
  display: none; }

#weather {
  position: absolute;
  top: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  width: 25%;
  left: 0; }
  #weather .weather_local {
    padding-left: 10px;
    font-weight: 800;
    font-size: 28px; }
  #weather .feels_like {
    text-transform: capitalize; }
  #weather .weather_detail_components .nc_component {
    padding-left: 10px;
    font-size: 22px;
    text-transform: capitalize; }
    #weather .weather_detail_components .nc_component .component_label {
      color: lightgrey; }

#weather_forecast {
  position: absolute;
  top: 690px; }
  #weather_forecast .forecast_local {
    display: none; }
  #weather_forecast .forecast_days {
    margin-top: 40px;
    padding-left: 2px; }
    #weather_forecast .forecast_days .forecast_day {
      display: inline-block;
      margin-left: 7px;
      margin-right: 7px;
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
      #weather_forecast .forecast_days .forecast_day .date {
        text-align: center;
        font-size: 20pt; }
      #weather_forecast .forecast_days .forecast_day .graphic {
        text-align: center; }
      #weather_forecast .forecast_days .forecast_day .conditions {
        font-size: 12pt;
        margin-bottom: 10px; }
      #weather_forecast .forecast_days .forecast_day .high_low {
        font-size: 20px;
        text-align: center; }
        #weather_forecast .forecast_days .forecast_day .high_low .component_label {
          font-weight: 600; }
    #weather_forecast .forecast_days .high_low {
      display: inline-block; }

#tickers .ticker_list li {
  font-size: 18pt; }
#tickers #ticker1 {
  position: absolute;
  top: 930px; }

.nc_component {
  font-size: 40px; }

.click_control .control_text {
  display: none; }

.click_control:hover {
  color: green; }

p {
  margin: 0; }

/*# sourceMappingURL=demo.css.map */
