$accent_color: green;
$dark_contrast_color: black;
$light_contrast_color: lightgrey;
$background-color: white;



body{
	background-color: $dark_contrast_color;
}
/*--- Player ---*/
#new_city_player{ 
	background-color: $background_color;
	
} 

/*--- Message ---*/
#message_name{
	position: absolute;
	top: -40px;
  padding-top: 40px;	
	.nc_component{
  font-size: 70pt;
	  
	}
	// line-height: 100px;
	font-weight: 800;
	
  text-align: center;
  width: 75%;
  left: 25%;
}


#message{
  height: 780px;
  background-color: $light_contrast_color;
  
  position: absolute;
  top: 145px;
  
  width: 75%;
  left: 25%;

	.ppt_image{
		// width: 300px;
		height: 100%;
	}
	
	.converted_page{
	  text-align: center;
	  height: 800px;
	}
	
	video{
	  width: 100%;
	  height: 100%;
	  margin-top: 90px;
	}
} // #message 

#page_navigation{
  position: absolute;
  width: 75%;
  left: 25%;
  text-align: center;
  top: 903px;
}

#message_controls{
  // margin-bottom: 70px;
  // position: absolute;
  // top: 700px;
  
  #duration{
    padding-left: 30px;
    .component_label{
      display: none;
    }
  }
  
  #timer_controls{
    position: absolute;
    top: 40px;
    left: 100px;
    
  }
  
  // #message_list{
    // position: absolute;
    // top: 50px;
    // left: 170px;
    // // margin-bottom: 300px;
    // // padding-left: 100px;
    // .message_name{
      // display: block;
      // font-size: 18pt;
    // }
    // .message_name.active{
      // color: $light_contrast_color; 
    // }
  // }
  
  #message_list{
    display: none;
  }
  
  #message_select{
    
  }
  
  #message_navigation{
    padding-left: 30px;
    
    #next_message{
      .control_icon{ 
        padding-left: 20px;
       } 
    }
  }
}


//--- Clock ---
#auto_update_timer, #update_time{
	display: none;
}

#current_time{
  color: grey;
  position: relative;
  top: 1040px;
  left: 1580px;
  
  .nc_component{
    font-size: 20pt;  
  }
  
}

#page_number_seperator, #total_pages, #page_number{
  display: none;
}

//--- Weather ---
.metric{
  display: none;
}



#weather{
  position: absolute;
  top: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark_contrast_color;
  color: $background_color;
  width: 25%;
  left: 0;
  .weather_local{
    padding-left: 10px;
    font-weight: 800;
    font-size: 28px;
  }
  
  .feels_like{
    text-transform: capitalize;
  }
  
  .weather_detail_components{
    .nc_component{
      padding-left: 10px;
      font-size: 22px;
      text-transform: capitalize;
      
      .component_label{
        color: $light_contrast_color;
      }
    }
  }
}

#weather_forecast{ 
  position: absolute;
  top: 690px;
  .forecast_local{
    display: none;
  }
  
  .forecast_days{
    margin-top: 40px;
    padding-left: 2px;
    
    .forecast_day{
      display: inline-block;
      margin-left: 7px;
      margin-right: 7px;
      
      border-top: 2px solid $dark_contrast_color;
      border-bottom: 2px solid $dark_contrast_color;
      
      .date{
        text-align: center;
        font-size: 20pt;        
      }
      
      .graphic{
        text-align: center;
      }
      
      .conditions{
        font-size: 12pt;
        margin-bottom: 10px;
      }
      
      .high_low{
        font-size: 20px;
        text-align: center;
        
        .component_label{
          font-weight: 600;  
        }
        
      }
    } 
    .high_low{
      display: inline-block;
    }
  }
} // #weather_forecast

//--- Tickers ---
#tickers{
  .ticker{
    li{
      font-size: 18pt;
    }
  }
  #ticker1{
    position: absolute;
    top: 930px;
  }
  
  #ticker2{
    
  }
  
}

//--- Globals ---
.nc_component{
  font-size: 40px;
}

.click_control{
  
  .control_text{
    display: none;
  }
}

.click_control:hover{
  color: $accent_color; 
  
}

p{
  margin: 0;
}
