$accent_color: green;
$dark_contrast_color: black;
$medium_contrast_color: #333;
$light_contrast_color: lightgrey;
$background_color: white;

body{
  background-color: $dark_contrast_color;
}
/*--- Player ---*/
#new_city_player{ 
  background-color: $background_color;
  
} 

/*--- Message ---*/
#message_name{
  position: absolute;
  top: -40px;
  padding-top: 40px;  
  .nc_component{
  font-size: 70pt;
    
  }
  // line-height: 100px;
  font-weight: 800;
  
  text-align: center;
  width: 75%;
  left: 25%;
}


.click_control{
  // display: none;
}

#message{
  height: 780px;
  background-color: $light_contrast_color;
  
  position: absolute;
  top: 145px;
  
  width: 75%;
  left: 25%;

  .ppt_image{
    // width: 300px;
    height: 100%;
  }
  
  .converted_page{
    // text-align: center;
    height: 800px;
  }
  
  video{
    width: 100%;
    height: 100%;
    margin-top: 90px;
  }
} // #message 

#page_navigation{
  position: absolute;
  width: 75%;
  left: 25%;
  text-align: center;
  top: 930px;
}

#message_controls{
  // margin-bottom: 70px;
  // position: absolute;
  // top: 700px;
  
  #duration{
    padding-left: 30px;
    .nc_label{
      display: none;
    }
  }
  
  #timer_controls{
    position: absolute;
    top: 40px;
    left: 100px;
  }
  
  #message_list{
    position: absolute;
    top: 50px;
    left: 170px;
    // margin-bottom: 300px;
    // padding-left: 100px;
    .message_name{
      display: block;
      font-size: 18pt;
    }
    .message_name.active{
      color: $light_contrast_color; 
    }
  }
  
  #message_list{
    display: none;
  }
  
  #message_select{
    position: absolute;
    left: 160px;
    top: 34px;
    
    select{
      width: 310px;
      font-size: 16pt;
      padding: 10px;
      font-weight: 600;
    }
    
    option{
      font-size: 16pt;
    }
    
    .nc_label.pre{
      display: none;
    }
     
  }
  
  #message_navigation{
    padding-left: 30px;
    
    #next_message{
      .control_icon{ 
        padding-left: 20px;
       } 
    }
  }
}

//--- Clock ---
#auto_update_timer, #update_time{
  display: none;
}

#current_time{
  color: grey;
  position: relative;
  top: 1040px;
  left: 1580px;
  
  .nc_component{
    font-size: 20pt;  
  }
  
}

#page_number_seperator, #total_pages{
  display: none;
}

//--- Weather ---
#weather_components{
  // display: none; 
}

.metric{
  display: none;
}

#toggle_weather{
  position: absolute;
  top: 155px;
  left: 332px;
  
  .click_control{
    .control_text{
      display: inline;
      font-size: 24pt;
      background-color: $medium_contrast_color;
      color: $background_color;
      padding: 10px;
      border-radius: 10px;
    }
    
    .control_text:visited{
      color: $background_color;
    }
    
    .control_text:hover{
      color: $accent_color;
    }
    
    .control_text:active{
      color: $background_color;
    }
  }
}

#weather{

  position: absolute;
  top: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $dark_contrast_color;
  color: $background_color;
  width: 25%;
  left: 0;
  
  .nc_label{
    font-size: 16pt;
  }

  #weather_local{
    .nc_component{
    padding-left: 10px;
    font-weight: 800;
    font-size: 24pt;
      
    }
  }
  
  .feels_like{
    text-transform: capitalize;
  }
  
  #weather_detail_components{
    .nc_component{
      padding-left: 10px;
      font-size: 22px;
      text-transform: capitalize;
      
      .nc_label{
        color: $light_contrast_color;
      }
    }
  }
}


#weather_forecast{ 
  position: absolute;
  top: 690px;
  #forecast_local{
    display: none;
  }
  
  #forecast_days{
    margin-top: 40px;
    padding-left: 2px;
    
    .forecast_day{
      
      
      border-top: 2px solid $dark_contrast_color;
      border-bottom: 2px solid $dark_contrast_color;
      display: inline-block;
      margin-left: 7px;
      margin-right: 7px;
      
      
      .date{
                  text-align: center;
        .nc_component{

          font-size: 28pt;        
          
        }
      }
      
      .image{
        text-align: center;
      }
      
      .conditions{
        .nc_component{
        font-size: 13pt;
        margin-bottom: 10px;
        }
      }
      
      .high_low{
        .nc_component{
          font-size: 20px;
          
        }
        
        text-align: center;
        .nc_label{
          font-weight: 600;  
        }
        
      }
    } 
    .high_low{
      display: inline-block;
    }
  }
} // #weather_forecast

//--- Tickers ---
// #tickers{
  

.nc_ticker{
  width: 100%;
  .ticker_inner{
    .ticker_item{
      // padding-right: 1920px;
    }

  }
}

#ticker1{
  font-weight: 600;
  font-size: 14pt;
  background-color: red;
  position: absolute;
  color: white;
  top: 3px;
  
  .ticker_item{
    padding-right: 1000px;
  }
  
  .ticker_item:last-child{
    padding-right: 0px;
  }
}

#ticker2{
  font-size: 30pt;
   
  color: $light-contrast-color;
  background-color: blue;
  position: absolute;
  top: 985px;
  
  .ticker_item{
    // padding-right: 600px;
  }
  
  .ticker_item:last-child{
    padding-right: 0px;
  }
}
  
// }

//--- Globals ---
.nc_component, .nc_control{
  font-size: 30pt;
}

.click_control{
  
  .control_text{
    display: none;
  }
}

.click_control:hover{
  color: $accent_color; 
  
}

p{
  // margin: 0;
}
