#new_city_player{
  position: relative;
  width: 1920px;
  height: 1080px;
}

.click_control, .select_control, .nc_ticker{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;  
}

.click_control:hover{
  cursor: pointer;
}

.nc_ticker{ 
    overflow: hidden;
    .ticker_inner{
      overflow:hidden;
    }
}
