body{
	background-color: black;
}
/*--- Player ---*/
#new_city_player{
	background-color: lightgrey;
	padding: 40px;
}
/*--- Messages ---*/
#message{
	
}
/*--- Player Controls ---*/
#message_navigation{
	margin-top: 20px;
	font-size: 32px;
}

.component_content{
	font-size: 40px;
}

.click_control:hover{
	color: green;	
}